{% extends "layout.twig" %}
{% block content %}
<div class="mx-auto bg-white p-8 border rounded shadow">
    <h1 class="text-xl font-semibold">Page not found</h1>

    <p class="mt-6">
        Sorry, the page you requested was not found!
    </p>
</div>
{% endblock %}
