{% extends "layout.twig" %}

{% block content %}
    <div class="max-w-md mx-auto bg-white p-8 border rounded shadow">
        <h2 class="text-2xl font-bold mb-4">Registration successful!</h2>
    </div>
{% endblock %}